<div class="col-md-2" ng-show="vm.errormessage == null">
    <p>Vuoden valinta:</p>
    <select ng-model="yearData" ng-change="vm.UpdateData(yearData)"
            data-ng-options="year as year.Year for year in vm.years">
        <option value="">Valitse vuosi</option>
    </select>
</div>
<div class="col-md-10">
    <div ng-show="vm.errormessage != null" class="alert alert-danger">{{vm.errormessage}}</div>
    <canvas id="bar" class="chart chart-bar" ng-show="yearData != null && vm.errormessage == null" chart-options="vm.options" chart-data="vm.data" chart-labels="vm.labels"></canvas>
    <div ng-show="yearData == null && vm.errormessage == null">
        <p>Hei! Aloita valitsemalla vuosi, niin näet pylväsdiagrammin Helsingin väestötilanteesta kyseisenä vuonna.</p>
    </div>
</div>